<%= form_with(model: conversion, url: group_conversions_path) do |form| %>
  <% if conversion.errors.any? %>
    <div style="color: red">
        <% conversion.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
    </div>
  <% end %>
  <div class="navbar">
    <%= link_to "🢀", "/groups/#{@group.id}", class: 'back-link'%>
    <p class='nav-text nav-text-new'>NEW TRANSACTION</p>
    <%= form.submit 'Create Transaction', class: 'login-submit-btn' %>
  </div>
  <div class="login-fields">
    <%= form.text_field :name, placeholder: 'Name', class: 'login-field' %>
    <%= form.number_field :amount, step: 0.1, placeholder: 'Amount', class: 'login-field' %>
  </div>
<% end %>
